/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/*.pem
/storage/*.pub
/storage/certs
/vendor
.env
.env.backup
build
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.run
.DS_Store
Thumbs.db
.php-cs-fixer.cache
.run/Controllers.run.xml
.run/Feature.run.xml
.run/SendingHistory.run.xml
.seedCommand.txt
rr
.rr.yaml
gen
phpunit.xml
composer.lock
